<center><h1>О КОМПАНИИ</h1>
<p>Сеть салонов оптики "100 очков" предлагает широкий ассортимент и продуманную ценовую политику. У людей, нуждающихся в коррекции зрения, сегодня есть выбор между очками и контактными линзами. Очки уже давно стали для многих не только помощником в повседневной жизни, но и создающим имидж аксессуаром. Нередко в очках человек выглядит гораздо более привлекательно. Удобные и незаметные контактные линзы открыли людям, обладающим недостаточной зоркостью, новые возможности для полноценной, активной жизни. Контактные линзы позволили отказаться от очков тем, кто ведет активный образ жизни. Цветные линзы позволили менять оттенок глаз и отказаться от очков. Контактные линзы создают новое качество жизни. Пройти диагностику зрения можно в любом из салонов оптики “100 очков” без предварительной записи. Врач-офтальмолог поможет подобрать как очки, так и контактные линзы, лучше всего отвечающие индивидуальным особенностям, параметрам зрения, стилю жизни, обеспечивающие необходимую коррекцию.</p>

<h2>Наши салоны:</h2>
<div class="row">
<address class ="col-md-4">
  <strong>ЦТиР "МИР"</strong><br>
  Пр. Октября, 4/1<br>
  <abbr title="Телефон">Тел:</abbr> (347) 298-37-01
</address>

<address class ="col-md-4">
  <strong>Ост. "ШКОЛА МВД"</strong><br>
  ул. Мубарякова, 10/1<br>
  <abbr title="Телефон">Тел:</abbr> (347) 299-04-48
</address>

<address class ="col-md-4">
  <strong>ост. "ТАХИР И ЗУХРА"</strong><br>
  ул. Революционная, 109<br>
  <abbr title="Телефон">Тел:</abbr> (347) 298-33-73
</address>

</div>

<div class="row">
<address class ="col-md-4">
  <strong>ЦТиО "ПРОСТОР"</strong><br>
  Жукова, 29<br>
  <abbr title="Телефон">Тел:</abbr> (347) 299-04-38
</address>

<address class ="col-md-4">
  <strong>Ост. "ВОСЬМИЭТАЖКА"</strong><br>
  ул. Ульяновых, 29<br>
  <abbr title="Телефон">Тел:</abbr> (347) 299-04-58
</address>

<address class ="col-md-4">
  <strong>Ост. "ТЕАТР КУКОЛ"</strong><br>
  пр. Октября, 146/1<br>
  <abbr title="Телефон">Тел:</abbr> (347) 298-31-02
</address>
</div>

</center>
