.navbar {
	border:none;
	padding-left: 30px;	
	padding-bottom: 0;	
}

.navbar-default .navbar-nav > li > a{
	font-family: 'Roboto', sans-serif;
	color:#6C6C6C;
	font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover  {
	background-color: #B3B3B3;
	color: #FFFFFF;	
}

.btn-lg {
	color:#FFFFFF;
}

footer p{
	font-family: 'Roboto', sans-serif;
}

.navbar-brand {
padding-top: 0;
}

.dropdown-menu > li > a {
padding: 12px 20px;
font-size: 18px;
}


footer {
margin-top: 5px;
border-top: solid 1px silver;
bottom: 0;
width: 100%;
left: 0;
text-align: center;
}

.price {
	font-size:40px;
	font-weight: bold;
	margin-bottom: 20px;
}


/* Для описания товара*/
dl {
    border: 3px solid #ccc;
    padding: 0.5em;
  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
   
  }

  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    color: #464646;
  }

 .textlink {
 color: #000000
 }